// Для импорта в диспетчер подключений: @import './../_source_dev/less/blocks/bottom_menu_block.less';


.bottom_menu_block {
  width: 100%;
  padding: 1.3em 0 0.8em;
  position: relative;

  > .bottom_menu_block {
    padding: 0 !important;

    &:before,
    &:after {
      display: none;
    }
  }

  @media (max-width: @screen-sm) {
    display: none;
  }

  &:before,
  &:after {
    content: '';
    display: inline-block;
    width: 100vw;
    height: 1px;
    background-color: #C4C4C4;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &:after {
    top: auto;
    bottom: 0;
  }

  ul.icon_menu {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: 1.125em;
      font-weight: bold;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      line-height: 1.4;
      position: relative;
      padding: .9em 1em .9em 5em;

      @media(max-width: @screen-xd) {
        font-size: 1em;
        padding-left: 2.7em;
      }

      .icon {
        width: 4.2em;
        height: 4.3em;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        @media(max-width: @screen-xd) {
          width: 2.2em;
          height: 2.2em;
        }

        &--furniture {
          width: 5.2em !important;
          height: 5.6em !important;

          @media(max-width: @screen-xd) {
            width: 3.2em !important;
            height: 3.5em !important;
            left: -.6em;
          }
        }
      }
    }
  }
}
