// Для импорта в диспетчер подключений: @import './../_source_dev/less/blocks/icon.less';


.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--phone {
    background-image: url('../imgs/icons/icon_phone.svg');
  }
  &--compare {
    background-image: url('../imgs/icons/icon_compare.svg');

    &:hover,
    &--active {
      background-image: url('../imgs/icons/icon_compare_active.svg');
    }
  }
  &--basket {
    background-image: url('../imgs/icons/icon_basket.svg');
    width: 1.7em;
    height: 1.7em;

    &:hover,
    &--active {
      background-image: url('../imgs/icons/icon_basket_active.svg');
    }
  }
  &--favorite {
    background-image: url('../imgs/icons/icon_favorite.svg');

    &:hover,
    &--active {
      background-image: url('../imgs/icons/icon_favorite_active.svg');
    }
  }
  &--search {
    background-image: url('../imgs/icons/icon_search.svg');
  }
  &--geo {
    background-image: url('../imgs/icons/icon_geo.svg');
  }

  &--cash {
    background-image: url('../imgs/icons/icon_cash.svg');
  }
  &--card {
    background-image: url('../imgs/icons/icon_card.svg');
  }
  &--checkout {
    background-image: url('../imgs/icons/icon_checkout.svg');
  }
  &--lk {
    background-image: url('../imgs/icons/icon_lk.svg');

    &:hover,
    &--active {
      background-image: url('../imgs/icons/icon_lk_active.svg');
    }
  }

  &--arrow {
    background-image: url('../imgs/icons/icon_arrow_black.svg');
    width: 1.7em;
    height: 1.7em;

    &:hover,
    &--active {
      background-image: url('../imgs/icons/icon_arrow_active.svg');
    }
  }

  &--reclamation {
    background-image: url('../imgs/icons/icon_reclamation.svg');
  }
  &--price {
    background-image: url('../imgs/icons/icon_price.svg');
  }
  &--otguzka {
    background-image: url('../imgs/icons/icon_otguzka.svg');
  }
  &--contragents {
    background-image: url('../imgs/icons/icon_contragents.svg');
  }
  &--reg_data {
    background-image: url('../imgs/icons/icon_reg_data.svg');
  }
  &--orders {
    background-image: url('../imgs/icons/icon_orders.svg');
  }


  &--aside {
    background-image: url('../imgs/icons/icon_aside.svg');
    width: 1.5em;
    height: 1.5em;
    margin-right: 2em;

    @media (max-width: @screen-sm) {
      width: 1.2em;
      height: 1.2em;
      margin-right: 1em;
      margin-left: auto;
    }
  }
  &--aside-active {
    background-image: url('../imgs/icons/icon_aside_active.svg');
  }
  &--move-basket {
    background-image: url('../imgs/icons/icon_basket.svg');
    width: 1.5em;
    height: 1.5em;
    margin-right: 2em;

    @media (max-width: @screen-sm) {
      width: 1.2em;
      height: 1.2em;
      margin-right: 1em;
      margin-left: auto;
    }
  }
  &--move-basket-active,
  &--move-basket:hover {
    background-image: url('../imgs/icons/icon_basket_active.svg');
  }
  &--remove {
    background-image: url('../imgs/icons/icon_cross.svg');
    width: 1.2em;
    height: 1.2em;

    @media (max-width: @screen-sm) {
      width: 1em;
      height: 1em;
    }
  }
  &--remove-active {
    background-image: url('../imgs/icons/icon_cross_active.svg');
  }

  &--decor {
    background-image: url('../imgs/icons_menu/icon_menu_decor.svg');
  }
  &--edge {
    background-image: url('../imgs/icons_menu/icon_menu_edge.svg');
  }
  &--sink {
    background-image: url('../imgs/icons_menu/icon_menu_sink.svg');
  }
  &--plates {
    background-image: url('../imgs/icons_menu/icon_menu_plates.svg');
  }
  &--shkaf {
    background-image: url('../imgs/icons_menu/icon_menu_shkaf.svg');
  }
  &--facade {
    background-image: url('../imgs/icons_menu/icon_menu_facade.svg');
  }
  &--furniture {
    background-image: url('../imgs/icons_menu/icon_menu_furniture.svg');
  }
}
