// Для импорта в диспетчер подключений: @import './../_source_dev/less/blocks/input_box.less';


.input_box {
	position: relative;

	&--search {
		width: 50em;
		margin-left: 7em;
		padding-bottom: 0;

		.link {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 1em;
		}

		.input_text {
			letter-spacing: .03em !important;
			padding: 0 1.5em !important;
			height: 2.778em !important;
			font-size: 1.125em !important;
			border-radius: 4px !important;
			border: 1px solid @orange !important;
		}
	}

	&--square {
		.input_text {
			padding: 0 1.5em !important;
			border-radius: 4px !important;
			border: 1px solid @orange !important;
		}
	}
	&--black-filter-price {
		width: 40%;
		.input_text {
			padding: 0 .5em !important;
			border: 1px solid @black !important;
			// width: 9em !important;
			text-align: center;
		}
	}
	&--black {
		.input_text {
			border: 1px solid @black !important;
		}
	}

	&--narrow {
		width: 80%;
	}
	&--wide {
		width: 100%;
	}

	.input_text {
		-webkit-appearance: none;
		width: 100%;
		display: inline-block;
		border: 1px solid @black;
		border-radius: 5em;
		.text-mix;
		line-height: 2;
		padding: 0 0.6em;
		height: 2.429em;
		transition: .3s;

		&--textarea {height: auto;}
	}
	.input_text.warning,
	.input_text.warning:focus {
		border-color: @red;
	}

	.input_text:focus {
		border-color: @orange;
	}


	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.input_box.warning {
	.input_text,
	.input_text:focus {
		border-color: @red !important;
	}
}





.select {
    position: relative;
    display: block;
    width: 100%;
		margin-bottom: 1em;
}

.select_head {
    width: 100%;
    max-width: 100%;
		height: 2.429em !important;
    font-size: .875em;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
		align-items: center;
		padding: 0 1.5em;
    color: @black;
    cursor: pointer;
		border-radius: 4px;
		border: 1px solid #000;
}

.select_head::after {
    width: 1.5em;
    height: 1.5em;
    background: #FFF url('../imgs/icons/icon_arrow_black.svg') no-repeat center / contain;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    content: '';
    display: block;
    transition: .2s ease-in;
}

.select_head.open {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.select_head.open::after {
    transform: translateY(-50%) rotate(270deg);
}

.select_list {
    display: none;
    position: absolute;
		border: 1px solid #000;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
		border-radius: 4px;
    border-top-left-radius: 0px;
		border-top-right-radius: 0px;
    margin-top: 5px;
    max-height: 205px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    margin: 0;
    padding: 0;
    color: #000;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;
}

.select_list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}

.select_list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
}

.select_list .select_item {
    position: relative;
    border-top: 1px solid rgba(224, 229, 231, 0.5);
    padding: 10px 15px;
		font-size: .875em;
    cursor: pointer;
    list-style-type: none;
}

.select_list .select_item:hover {
    color: #fff;
		background-color: @orange;
}