// Для импорта в диспетчер подключений: @import './../_source_dev/less/blocks/page-header.less';

.page-header.opened {
  z-index: 9999;
}

.page-header {

  @media (max-width: @screen-sm) {
    background-color: @gray-bgr;
    height: 5.7em;
  }

  .container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .burger_wrapper {
    display: none;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    margin-right: 0;
    font-size: 1.5em;

    @media (max-width: @screen-sm) {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
    }
  }

}


.phonebox {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10.3em;

  @media (max-width: @screen-md) {
    margin-left: 1.5em;
    flex-direction: column;
  }

  @media (max-width: @screen-sm) {
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .icon {
    @media (max-width: @screen-md) {
      display: none;
    }
  }

  a.phone_header {
    font-size: 1.125em;
    font-weight: bold;
    margin: 0 4em 0 1.2em;

    @media (max-width: @screen-md) {
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: .5em;
    }

    @media (max-width: @screen-sm) {
      font-size: .9em;
      padding: .3em;
      margin: 0;
    }
  }
}
.lk_block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 12.4em;
  justify-content: space-between;

  @media (max-width: @screen-sm) {
    display: none;
  }

  .lk_link {
    width: auto;
    text-align: left;
    font-size: .875em;
    margin-bottom: .8em;

    &:first-child {
      max-width: 10em;
    }

    &:last-child {
      text-align: right;
    }
  }


  .btn {
    width: 100%;
    font-size: .875em;
  }
}


.link_block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 12.4em;
  justify-content: space-between;

}

.link {
  display: inline-block;
  transition: .3s;

  &:hover {
    color: @orange;
  }

  &--basket {
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    &:hover .icon--basket { background-image: url('../imgs/icons/icon_basket_active.svg'); }

    > span { margin-right: .5em; }


  }
  &--favorite,
  &--compare {
    .icon {
      width: 1.5em;
      height: 1.5em;
    }
  }
  &--geo {
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    .icon {
      margin-right: .5em;
    }
  }
}

.icon_count_box {
  position: relative;

  .count {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1.8em;
    height: 1.8em;
    font-size: .625em;
    border: 1px solid @orange;
    border-radius: 4px;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    background-color: @white;
  }
}


.logo_wrapper {
  width: 14.3em;
  height: auto;

  @media (max-width: @screen-sm) {
    width: 10em;
  }
}
