// Для импорта в диспетчер подключений: @import './../_source_dev/less/blocks/partners.less';


.partners {
  padding: 4.7em 0;

  .swiper-container {
    padding-top: 4em;

    .swiper-wrapper {
      align-items: center;
    }
  }

  .swiper-button-next, .swiper-container-rtl .swiper-button-prev, .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    top: 10em;
  }

}
