@font-face {
  font-family: 'RUBSN';
  src: url('../fonts/RUBSN.eot');
  src: url('../fonts/RUBSN.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RUBSN.woff2') format('woff2'),
  url('../fonts/RUBSN.woff') format('woff'),
  url('../fonts/RUBSN.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
  url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light.woff2') format('woff2'),
  url('../fonts/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
  url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


ul, ol {
  margin: 0;
}


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
}
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
h1 {
  margin: 0;
}
body {
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  position: relative;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  transition: 0.3s;
  overflow-x: hidden;
  color: @black;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (max-width: @screen-lg) {
    font-size: 12px;
  }
  @media (max-width: @screen-md) {
    font-size: 16px;
  }
  @media (max-width: @screen-sm) {
    font-size: 3vw !important;
  }
}

.container {
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
  width: @screen-lg;
  position: relative;

  @media (max-width: @screen-lg) {
    width: 1400px;
    padding: 0 20px;
  }
  @media (max-width: @screen-xd) {
    width: 1024px;
    padding: 0 20px;
  }
  @media (max-width: @screen-md) {
    width: @screen-sm !important;
    padding: 0 20px !important;
  }
  @media (max-width: @screen-sm) {
    width: 100% !important;
    padding: 0 3% !important;
  }

}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
  height: auto;
}
section {
  overflow: hidden;
}


h1.title,
h2.title {
  .title-mix;
  text-align: center;
}
h1.title {
  text-align: left;
}
.text {
  .text-mix;

  &--gray {
    color: #76716A;
  }
  &--orange {
    color: @orange;
  }
  &--big {
    font-size: 1.125em;
  }
  &--underline {
    text-decoration: underline;
  }
  &--bold {
    font-weight: bold;
  }
}


body > p {
  min-height: 50vh;
  padding-top: 2em;
  text-align: center;
  font-size: 2em;
  color: #000;
  font-weight: bold;

  font.notetext {
    color: #000;
  }
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev, .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url('../imgs/icons/icon_arrow_black.svg');
  width: 1.5em;
  height: 3em;
  background-size: contain;
  top: 50%;
  margin: -1.5em;

  @media (max-width: @screen-sm) { margin: 0; height: 1.8em; }
}
.swiper-button-next:hover,
.swiper-container-rtl .swiper-button-prev:hover,
.swiper-button-prev:hover,
.swiper-container-rtl .swiper-button-next:hover {
  background-image: url('../imgs/icons/icon_arrow_active.svg');
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: -.8em;

  @media (max-width: @screen-sm) {
    right: 1em;
  }
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: -.8em;
  transform: rotate(180deg);

  @media (max-width: @screen-sm) {
    left: 1em;
  }
}


.burger_wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: relative;
  margin-right: 1.5em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 2em;

  span {
    @media (max-width: @screen-sm) {
      display: none;
    }
  }

  .burger {
    display: inline-block;
    width: 1.5em;
    height: 2px;
    background-color: @orange;
    position: relative;
    transition: .3s;

    &:after,
    &:before {
      content: '';
      display: inline-block;
      width: 1.5em;
      height: 2px;
      background-color: @orange;
      position: absolute;
      left: 0;
      transition: .3s;
    }
    &:after {
      top: -.5em;
    }
    &:before {
      bottom: -.5em;
    }
  }

  .burger.active {
    height: 0;

    &:after {
      top: -.1em;
      transform: rotate(45deg);
    }
    &:before {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }

}

.info_label_box.visible {
  visibility: visible;
  transform: scale(1) translateX(-59%);
  opacity: 1;
}
.info_label_box {
  position: absolute;
  padding: .5em;
  visibility: hidden;
  opacity: 0;
  transform: scale(1) translateX(-59%);
  background-color: #fff;
  border-radius: 4px;
  z-index: 99;
  border: 1px solid @black;
  transition: .3s;

  a {
    color: @orange;
    text-decoration: underline;
  }

  &:before {
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    left: 50%;
    top: -0.55em;
    background-color: #fff;
    transform: translateX(-50%) rotate(135deg);
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    position: absolute;
  }
}