@screen-xs:                   320px;
@screen-sm:                   680px;
@screen-md:                   1024px;
@screen-lg:                   1680px;
@screen-xl:                   1920px;



@black: 					            #000;
@white: 			    		        #fff;
@gray:   		  				        #E5E5E5;
@gray-bgr:	  				        #EBE9E9;
@dark-gray: 				          #76716A;
@orange: 					            #F18700;
@red: 						            #EC0000;
